.carousel-container {
  .carousel-box {
    position: relative;
    width: 600px;
    height: 25vh;
    overflow: hidden;
    article {
      position: absolute;
      width: 600px;
      height: 25vh;
      display: flex;
      border-radius: 10px;
      background: #eee;
      transition: transform 0.5s;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}
